#add-product {
  margin-top: 20px;
}

@mixin modal {
  position: absolute;
  z-index: 15;
  background: #fff;
  box-shadow: -1px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px -1px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding: 25px 10px 15px 20px;
  bottom: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  width: 410px;
  max-width: 100%;
}

.modal--form {
  @include modal;
  &--show {
    visibility: visible;
    opacity: 1;
  }
}

.modal--form--product {
  @include modal;
  &--show {
    visibility: visible;
    opacity: 1;
  }
}
