.nav__header--rectangle {
  color: #fff;
  background: #fd2e2e;
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
}
