.product__input--text{
    display: block;
    color: #868D96;
    border: 1px solid #868D96 !important;
    padding: 5px;
    border-radius: 5px;
    font: normal normal normal 14px/22px Rajdhani !important;
    max-width: 100%;
    text-align: left !important;
    height: 30px;
    width: 100%;
}