<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAKUTECH</title>
	<link rel="stylesheet" th:href="@{/css/preset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<link rel="stylesheet" th:href="@{/css/sign-up.css}">
	<link rel="stylesheet" th:href="@{/css/media.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

  <section class='sign-up sign-in'>
    <section class="sign-up__wrapper wrapper">
      <section class="sign-up__description">
        <h1 class="sign-up__company-name"><a th:href="@{/}">RAKU<span
              class="sign-up__company-name--color">TECH</span></a></h1>
        <p class="sign-up__company-desc">Browse from over 500 devices in your area.</p>
      </section>
      <section class="sign-up__section">
        <header class="sign-up__header">
          <h2 class="sign-up__header--title sign-in__header--title">Sign In</h2>
          <a href="javascript:;" class="sign-in__btn sign-in__btn--apple"><i class="fab fa-apple"></i>Sign In With
            Apple</a>
          <a href="javascript:;" class="sign-in__btn sign-in__btn--facebook"><i class="fab fa-facebook-square"></i>Sign
            In With Facebook</a>
        </header>
        <span class="sign-in__separate">OR</span>
        <section class="sign-up__form">
          <form name="f" th:action="@{/login}" id="login-submit" method="post">
          	<div th:if=${param.error}>
          		Invalid username and password
          	</div>
          	<div th:if="${param.logout}">
          		You have been logout
          	</div>
            <div class="sign-up__input-group">
              <label for="email">Email</label>
              <input type="email" name="username" id="email" required>
              <span class="sign-up__invalid-feedback">This email address doesn't exist.</span>
            </div>
            <div class="sign-up__input-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Must be at least 6 characters" required>
              <i class="far fa-eye" id="togglePassword"></i>
            </div>
            <button class="sign-up__button" type="submit">Sign In</button>
          </form>
        </section>
        <footer class="sign-up__footer">
          <span class="sign-up__footer--text">By continuing, you agree to accept our Privacy Policy & Terms of
            Service.</span>
          <span class="sign-up__footer--text sign-up__footer__create-acc">Don't have an account? <a
              th:href="@{/signup}">Create new account</a></span>
        </footer>
      </section>
    </section>
  </section>

  <script src="js/plugin.js"></script>
</body>

</html>