<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAKUTECH</title>
	<link rel="stylesheet" th:href="@{/css/preset.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<link rel="stylesheet" th:href="@{/css/sign-up.css}">
	<link rel="stylesheet" th:href="@{/css/media.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <!-- Modal Here -->
  <section id="modal" class="modal successful-registered" aria-hidden="true">
    <section class="successful-registered__box">
      <article class="successful-registered__content">
        <span class="successful-registered__icon"><i class="fas fa-check"></i></span>
        <h3 class="modal__title successful-registered__title">Awesome!</h3>
        <p class="modal__description successful-registered__description">Your account has successfully registered. Check
          your email for details</p>
        <footer class="successful-registered__footer">
          <button class="successful-registered__success" data-dismiss="modal">OK</button>
        </footer>
      </article>
    </section>
  </section>

  <section class='sign-up'>
    <section class="sign-up__wrapper wrapper">
      <section class="sign-up__description">
        <h1 class="sign-up__company-name"><a th:href="@{/}">RAKU<span
              class="sign-up__company-name--color">TECH</span></a></h1>
        <p class="sign-up__company-desc">Browse from over 500 devices in your area.</p>
      </section>
      <section class="sign-up__section">
        <header class="sign-up__header">
          <h2 class="sign-up__header--title">Sign Up</h2>
          <span class="sign-up__header--text">Already have an account? <a th:href="@{/signin}"
              class="sign-up__header--link">Log in</a></span>
        </header>
        <section class="sign-up__form">
          <form id="signup-submit">
            <!-- div class="sign-up__input-group">
              <label for="fullName">Full Name</label>
              <input type="text" name="fullName" id="fullName" required>
            </div -->
            <div class="sign-up__input-group">
              <label for="email">Email</label>
              <input type="email" name="username" id="email" required>
              <span class="sign-up__invalid-feedback">Email address already in use.</span>
            </div>
            <div class="sign-up__input-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" placeholder="Must be at least 6 characters" required>
              <i class="far fa-eye" id="togglePassword"></i>
            </div>
            <div class="sign-up__input-group">
              <input type="checkbox" name="signUp" id="signUp">
              <label for="signUp" class="sign-up__chkbox-label">Sign up for email updates</label>
            </div>
            <button class="sign-up__button" type="submit">Sign Up</button>
          </form>
        </section>
        <footer class="sign-up__footer">
          <span class="sign-up__footer--text">By continuing, you agree to accept our Privacy Policy & Terms of
            Service.</span>
        </footer>
      </section>
    </section>
  </section>

  <script src="js/plugin.js"></script>
</body>

</html>